.top_strip {
    background:#3c3b3b;
}
.header_wrapper .header{
    background: #474747 url('images/blackln.png') top center no-repeat;
}
.main_search #searchsubmit {
    background:url(images/blacksh.png) repeat-x;
}
.sidebar #searchform input[type="submit"] {
    background:url(images/blackshbtn.png) no-repeat;
}
.footer_wrapper {
    background:#3c3b3b;
}
.footer_wrapper .footer_widget h5 {
    background:url(images/bfborder.png) repeat-x bottom;
}
.footer_wrapper .footer_widget ul {
    list-style-image:url(images/fbbbullet.png);
}
.footer_wrapper .footer_widget #searchform {
    background:url(images/fbsearch.png) no-repeat;
}
.footer_bottom {
    background:#212020;
    color:#979696;
}
.footer_bottom .copy_right {
    color: #979696;
}